/* === CS275 styles.css starter ===*/

body {
  background: #f0f2f5; 
  color: #111;
}

#hero {
  text-transform: uppercase;
}
title {
  text-align:center;
}


.card {
  background: white;
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  /* Students adjust these: */
  width: 550px;
  display: inline-block; /* key concept for this class */
}
/* Nav links (optional polish) */
.nav-link { margin-right: .75rem; color: rgb(40, 40, 78); text-decoration: none; }
.nav-link:hover { text-decoration: underline; }